.menu {
    align-items: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu-items {
    margin-left: clamp(4rem, 10%, 48rem);
    position: relative;
    z-index: 2;
}

.menu[data-active-index="0"] > .menu-background-pattern {
    background-position: 0% -25%;
}

.menu[data-active-index="1"] > .menu-background-pattern {
    background-position: 0% -50%;
}

.menu[data-active-index="2"] > .menu-background-pattern {
    background-position: 0% -75%;
}

.menu[data-active-index="3"] > .menu-background-pattern {
    background-position: 0% -100%;
}

.menu-background-pattern {
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 100px 100px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: opacity 800ms ease,
                background-size 800ms ease,
                background-position 800ms ease;
    width: 100%;
    z-index: 1;
}

.menu-items:hover ~ .menu-background-pattern {
  background-size: 90px 90px;
  opacity: 0.5;
}

.menu-items:hover > .menu-item {
    opacity: 0.3;
}

.menu-items:hover > .menu-item:hover {
    opacity: 1;
}

.menu-item {
    cursor: pointer;
    color: white;
    display: block;
    font-family: 'Ibarra Real Nova', serif;;
    font-size: clamp(3rem, 5rem, 8rem);
    padding: clamp(0.25rem, 0.5%, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
}