.btn {
    --black: #282936;
    --white: #fff;

    box-sizing: border-box;
    position: relative;
    border: none;
    background: var(--white);
    border-radius: 2.5rem;
    cursor: pointer;
    padding: 0;

    width: 20rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.btn * {
    box-sizing: border-box;
}

.circle {
    position: relative;
    display: block;
    width: 5rem;
    height: 5rem;
    background: var(--black);
    border-radius: 2.5rem;

    transition: width 0.8s cubic-bezier(0.65, 0, 0.076, 1);
}

.arrow {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;

    transition: left 0.8s cubic-bezier(0.65, 0, 0.076, 1);
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    left: 3rem;
    bottom: 0;
    padding: 1.7rem;
    font-size: 1.5rem;

    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    
    transition: color 0.8s cubic-bezier(0.65, 0, 0.076, 1),
                font-weight 0.8s cubic-bezier(0.65, 0, 0.076, 1);
;
}

.btn:hover > .circle {
    width: 100%;
}

.btn:hover .arrow {
    left: 3rem;
}

.btn:hover > .text {
    color: white;
    font-weight: bold;
}
