.App {
  padding: 64px;
}

.frame-container {
  margin: 12px;
  padding: 12px;
}

.frame {
  position: relative;
  margin: 10px;

  min-width: 300px;
  min-height: 500px;

  background-color: #f4f4f4;
}

.frame-description {
  margin-left: 24px;
}

.subtitle {
  font-size: 0.8rem;
  color: #222;
}

h3 ~ .subtitle {
  margin-top: -10px;
}